/*Estilo do titulo*/

#Titulo {
    margin: auto;
    margin-top: 50px;
    text-align: center;
    color: white;
}

.teste {
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*Corpo*/

#Corpo {
    margin-top: 20px;
}

/* input.form-control+.btn-block {

} */