#topo
{
  background-color: chocolate;
  color: white;
  float: left;
  margin-left: 120px;
}
ul li
{
  text-decoration: none;
  text-align: left;
  float: left;
  padding: 30px;
  list-style-type: none;
  display: block;
}
