#Topo {
    height: 90px;
    width: 100%;
    margin-top: -20px;
    position: relative;
    background-color: #9400D3;
}
#Topo  ul li {
    text-decoration: none;
    text-align: left;
    font-style:normal;
    float: left;
    padding: 30px;
    list-style-type: none;
    display: block;
}
#Topo a{ color:white; text-decoration:none;  }
#Logo{
    color:white;
    font-family:Arial;
    position:absolute;
    margin-top:30px;
    margin-left:20px;
}
#Navtopo {
    position: absolute;
    margin-top: 10px;
    color: white;
    font-family: Arial;
}
#Escopo {
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
}
#Escopo ul li{text-decoration:none; font-style:normal;list-style-type:none;font-family:Arial;color:white}
.ListaTarefas_class_Medium {
    width: 200px;
    float: left;
    background-color: #BA55D3;
    border-radius: 10px;
    width:100%;
    height:auto;
    margin-top:14px;
}
.ListaTarefas_class_Medium_Sobre {
    width: 400px;
    float: left;
    background-color: #BA55D3;
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 4px;
}

.Lista_Tarefas {
    font-family: Arial;
    font-size: 20px;
    margin-top: 4px;
}
.Lista_Tarefas_sobre {
    margin-top: 10px;
    font-family: Arial;
    margin-top: 4px;
}
.Lista_color_Ordich {
    background-color: #9932CC;
}

#closseBt{
    background-color:lightgray;
    border-radius:15px;
    height:24px;
    width:24px;
    margin-top:6px;
    margin-left:170px;
}
#closseBt a {
        text-decoration: none;
        text-align: left;
        font-style: normal;
        color:white;
}

#DialogoNovaTarefa {
    background-color: #800080;
    border-radius: 10px;
    position: absolute;
    z-index: 99;
    margin-left: 490px;
    margin-top: -370px;
    height: auto;
    width: 200px;
    font-family: Arial;
    font-size: 15px;
    color: white;
    text-align: center;
}
.DialogoPadding{
    margin-top:10px;
    padding-bottom:10px;
}
.visibility_on{
    visibility:visible;
}
.visibility_off{
    visibility:hidden;
}