#topo
{
  background-color: chocolate;
  color: white;
  float: left;
  margin: auto;
  margin-left: 120px;
}
ul li
{
  text-decoration: none;
  text-align: left;
  float: left;
  padding: 30px;
  list-style-type: none;
  display: block;
}
#escopo
{
  background-color: chocolate;
  height: 200px;
  width: 500px;
  margin: auto;
  margin-top: 40px;
  margin-left: 30px;
  float: left;
}
#square1
{
  height: 100px;
  width: 100px;
  padding: 5px;
  margin-left: 15px;
  margin-top: 15px;
  float: left;
}
#square2
{
  height: 100px;
  width: 100px;
  padding: 5px;
  margin-left: 15px;
  margin-top: 15px;
  float: left;
}
#square3
{
  height: 100px;
  width: 100px;
  padding: 5px;
  margin-left: 15px;
  margin-top: 15px;
  float: left;
}
#boxOut
{
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 20px;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.red
{
  background-color: red;
}
.blue
{
  background-color: blue;
}
.green
{
  background-color: green;
}